@{
    ViewData["Title"] = "Student Page";
}

<div class="text-center">
    <h1 class="display-4">Student Information</h1>
    <a class = "btn btn-primary m-2" href= "/Student/ViewStudentDetails"> ViewStudentDetails </a>
</div>
