<div class="text-left">
    <h1>Student Details</h1>

    <h4><strong>Name: </strong>Charl Emmanuel E. Mendez</h4>
    <h4><strong>Age: </strong>19</h4>
    <h4><strong>Gender: </strong>Male</h4>
    <h4><strong>Address: </strong>Santo Tomas, Batangas</h4>

    <img style="height: 250px; width: 150px;" src="~/Images/pic.jpg" alt="Student Image" />

    <table>
        <tr>
            <th>Name of Game</th>
            <th>Player Name</th>
            <th>Game Title/Rank</th>
        </tr>
        <tr>
            <td>Monopoly</td>
            <td>Amadeus</td>
            <td>Warrior</td>
        </tr>
    </table>
</div>
